.hero {
    font-size: toRem(44);
    font-weight: 600;
    
    @media (min-width: $lg) {
        font-size: toRem(64);
    }
}

h1, .h1 {
    font-size: toRem(32);
    font-weight: 600;

    @media (min-width: $lg) {
        font-size: toRem(48);
    }
}

h3, .h3 {
    font-size: toRem(28);
    font-weight: 600;
    
    @media (min-width: $lg) {
        font-size: toRem(36);
    }
}

h4, .h4 {
    font-size: toRem(22);
    font-weight: 500;
    
    @media (min-width: $lg) {
        font-size: toRem(30);
    }
}

h5 .h5 {
    font-size: toRem(20);
    font-weight: 500;
    
    @media (min-width: $lg) {
        font-size: toRem(25);
    }
}

h6, .h6 {
    font-size: toRem(18);
    font-weight: 500;
    
    @media (min-width: $lg) {
        font-size: toRem(22);
    }
}