.header {
    height: 100px;
    &-contact {
        &-email,
        &-phone {
            color: $theme-black;
            text-decoration: none;
        }

        &-email {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}